<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      CDK DMS SOAP
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="cdkForm" (ngSubmit)="saveSettings(cdkForm.value)">
    <div fxLayout="row wrap">
      <mat-form-field fxFlex="48" appearance="outline">
        <mat-label>Dealer ID</mat-label>
        <input matInput formControlName="dealerid" name="dealerid" required>
      </mat-form-field>

      <mat-form-field fxFlex="48" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" name="password" required>
      </mat-form-field>

      <mat-form-field fxFlex="48" appearance="outline">
        <mat-label>User ID</mat-label>
        <input matInput formControlName="userid" name="userid" required>
      </mat-form-field>

      <mat-form-field fxFlex="48" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" name="username" required>
      </mat-form-field>

    </div>
    <div fxLayout="row">
      <span fxFlex></span>
      <button mat-raised-button color="primary">Save</button>
      <span fxFlex></span>
    </div>
  </form>
</mat-expansion-panel>
