<mat-toolbar class="app-toolbar" color="primary">
  <mat-toolbar-row fxLayout="row">
    <span fxFlex></span>
    <span>CoreLogic DealFlow</span>
    <span fxFlex></span>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row"  fxLayoutAlign="center">
    <mat-card class="auth-card">
        <mat-card-title>
            <div class="core-heading">Authorising...</div>
        </mat-card-title>

        <div fxLayout="row" class="mt-10">
          <span fxFlex></span>
          <mat-spinner></mat-spinner>
          <span fxFlex></span>
        </div>
    </mat-card>
</div>
