@import '../../../variable.scss';
.vehicle-list-container {
    padding: 3rem;
}

.filter-card {
    border: 1px solid $local-border-primary;
    padding: 0;
    height: 100%;
    mat-card-header {
        margin: 0 0 10px;
        padding-top: 10px;
        background: $local-background;
        border-bottom: 1px solid $local-border-primary;
        .action-button-block {
            display: inline-block;
            margin-left: 30px;
        }
    }
    .filter-chips {
        margin-left: 16px;
        margin-bottom: 10px;
        .add-filter-chip {
            background-color: #fff;
            border: 2px dashed #ccc;
        }
    }
    .vehicles-table {
        width: 100%;
        // margin-left: -10px;
        // padding-top: 13px;
         ::ng-deep thead {
            background-color: $local-background;
        }
        .table-link {
            text-decoration: none;
            color: #2e62d5;
        }
    }
}