<mat-card class="summary-card">
    <mat-card-header>
        <mat-card-title>History</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="history-box-container">
            <div class="history-box-item">
                <span class="date-info">March 2018</span>
                <span class="vehicle-info">2018 Chevrolet</span>
                <span class="vehicle-info">Tahoe</span>
                <span class="vehicle-info">Event ID:</span>
                <span class="vehicle-info">345680898y</span>
            </div>
            <div class="history-box-item">
                <span class="date-info">July 2020</span>
                <span class="vehicle-info">2020 Chevrolet</span>
                <span class="vehicle-info">Tahoe</span>
                <span class="vehicle-info">Event ID:</span>
                <span class="vehicle-info">345680898y</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>