<mat-card class="summary-card">
  <mat-card-header>
    <mat-card-title> Customer Documents </mat-card-title>
    <span class="expandable-block"></span>
    <div class="action-button-block">

    </div>
  </mat-card-header>
  <mat-card-content fxLayout="row wrap" fxLayoutGap="5px" class="m-b-10px m-t-16px font-size-115">
    <div fxFlex="25" style="margin: 20px">
      <h3 class="sub-region"><strong>Customer Document:</strong></h3>
      <a href="" class="file_link" target="_blank">
        <img alt="Credit_Application.pdf" width="65" height="auto" src="assets/images/PDF_file_icon.png" />
        <br>
        <span>Credit Application.pdf</span>
      </a>
    </div>
  </mat-card-content>
</mat-card>
