.pdf-image{
    margin-right: 10px;
    white-space: pre !important;
}
.documents{
    text-align: left !important;
}

.folder-details{
    margin-top: 10px;
    margin-left: 13px;
    
}

.folder-name{
    font-size: 13px !important;
    font-weight: bold;
}
.folder-date{
    font-size: 13px !important;
    
}

.document{
    cursor: pointer;
}