#addedVehicle {
    min-height: 200px;
    margin-top: 20px;
}

#paddedContainer {
    min-height: 200px;
    margin-top: 20px;
}

mat-form-field:nth-child(1) {
    margin-top: 20px;
}

.mat-tab-body-content {
    padding-top: 20px;
    min-height: 600px;
}

mat-form-field {
    width: 90%;
    margin: 0 auto;
}