<div mat-dialog-title fxLayout="row" class="modal">
  <div class="core-heading">New Role</div>
  <span fxFlex></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon class="core-heading">close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <form fxLayout="column" fxLayoutGap="7px" [formGroup]="roleForm">
    <mat-form-field fxFlex="100" class="core-text" appearance="outline">
      <mat-label>Role</mat-label>
      <input matInput formControlName="role" name="role" />
    </mat-form-field>

    <div fxLayout="row wrap" *ngFor="let permission of defaultPermissions" class="core-text">
      <div fxFlex="">
        <mat-label>{{ permission.permissionName }}</mat-label>
        <span fxFlex></span>
        <mat-slide-toggle
          color="primary"
          [checked]="selectedPermissions.includes(permission.permissionId)"
          (change)="updateList(permission.permissionId)"
          aria-label="Permissions Toggle"
        ></mat-slide-toggle>
      </div>
    </div>
    <div fxLayout="row wrap" class="core-text">
      <div fxFlex="">
        <mat-label>View / Modify Settings</mat-label>
        <span fxFlex></span>
        <mat-slide-toggle
          color="primary"
          [checked]="viewSettings === true"
          (change)="changeViewSettings($event)"
          aria-label="Permissions Toggle"
        ></mat-slide-toggle>
      </div>
    </div>
    <div fxLayout="row wrap" class="core-text">
      <div fxFlex="">
        <mat-label>Manage User Access</mat-label>
        <span fxFlex></span>
        <mat-slide-toggle
          color="primary"
          [checked]="manageUserAccess === true"
          (change)="changeManageUserAccess($event)"
          aria-label="Permissions Toggle"
        ></mat-slide-toggle>
      </div>
    </div>
  </form>
</div>
<div fxLayout="row">
  <span fxFlex></span>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [mat-dialog-close]="close()">
      Save
    </button>
  </mat-dialog-actions>
</div>
