<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title style="text-transform: uppercase;">
      Customer Interaction
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="customerInteractionSettingsForm" (ngSubmit)="saveSettings(customerInteractionSettingsForm.value)">
    <div fxLayout="row wrap">


      <mat-form-field fxFlex="98" appearance="outline">
        <mat-label>Link expiry time (minutes)</mat-label>
        <input matInput formControlName="linkExpiryTime" name="linkExpiryTime" required>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <span fxFlex></span>
      <button mat-raised-button color="primary">Save</button>
      <span fxFlex></span>
    </div>
  </form>
</mat-expansion-panel>
