$local-background: #f2f2f2;
$local-border-primary: #c1c1c1;
$primary: #3367D6;
$success: #00B050;
$error: #b01541;
//$primary: #2f2fb3;
$cl-red:#E10600;
$cl-d-red:#B11E2B;
$cl-yellow:#F7941D;
$pending: #F7941D;
$cl-orange:#F15A29;
$cl-blue:#3899D5;
$cl-d-blue:#0D395D;
$cl-green:#48B295;
$cl-d-green:#007987;
$cl-d-gray:#5A5A5A;
$cl-medium-gray:#828282;
$cl-light-gray:#AAAAAA;
$cl-white-gray:#E6E6E6;
//$success: #33b32f;
//$error: #b01541;
