<mat-card class="summary-card">
  <mat-card-header>
    <mat-card-title> Finance &amp; Lending </mat-card-title>
    <span class="expandable-block"></span>
    <div class="action-button-block">
      <button (click)="isOpen = !isOpen" mat-icon-button aria-label="Expand Lender Portal">
        <mat-icon>{{ isOpen ? "expand_less" : "expand_more" }}</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="none stretch" fxLayoutGap="5px" class="m-b-10px m-t-16px font-size-115"
      style="color: #000">
      <div fxFlex="35"><span class="mat-body-strong">Creation Date:</span> {{creationDate |
        date: 'MM/dd/YYYY'}}</div>
      <div fxFlex="35"><span class="mat-body-strong">Responses:</span> {{dataSource.length}}
      </div>
      <div fxFlex="20"></div>
    </div>

    <ng-container *ngIf="isOpen">

      <table mat-table [dataSource]="dataSource" class="customers-table mat-elevation-zz22">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Lender </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="amountFinanced">
          <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Amount Financed </th>
          <td mat-cell style="text-align: center;" *matCellDef="let element"> {{element.amountFinanced | currency}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="term">
          <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Term </th>
          <td mat-cell style="text-align: center;" *matCellDef="let element"> {{element.term}} months </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="monthlyPayment">
          <th mat-header-cell style="text-align: center;" *matHeaderCellDef> $/month </th>
          <td mat-cell style="text-align: center;" *matCellDef="let element"> {{element.monthlyPayment | currency}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="APR">
          <th mat-header-cell style="text-align: center;" *matHeaderCellDef> APR </th>
          <td mat-cell style="text-align: center;" *matCellDef="let element"> {{element.APR | percent}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="downPayment">
          <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Down Payment </th>
          <td mat-cell style="text-align: center;" *matCellDef="let element"> {{element.downPayment | currency}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell style="text-align: center;" *matHeaderCellDef> &nbsp;</th>
          <td mat-cell style="text-align: center;" *matCellDef="let element">
            <button mat-raised-button color="primary">
              Accept
            </button>
            <button mat-button color="primary">
              Decline
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>



    </ng-container>
  </mat-card-content>
</mat-card>